@import '../../styles/variables';

.Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: $max-width;
}

.Title {
  font-family: $font-family;
  font-size: 30px;
  font-weight: 600;
}

.Right {
  border-radius: 0 4px 4px 0;
}

.Left {
  border-radius: 4px 0 0 4px;
}

.Button {
  font-family: $font-family;
  font-size: 14px;
  font-weight: 400;
  color: black;
  background-color: $grey4;
  border: 1px solid #e2e4ec;
  width: 200px;
  height: 50px;
  cursor: pointer;

  &:hover {
    color: $primary;
    background-color: $grey1;
  }
}

.ButtonSwitched {
  @extend .Button;
  color: $white;
  background-color: $primary;
  font-weight: 600;

  &:hover {
    color: $white;
    background-color: $primary;
  }
}

.InputContainer {
  position: relative;
  color: $primary;

  &:focus-within {
    color: $grey2;
  }
}

.Magnify {
  position: absolute;
  top: 12px;
  left: 10px;
}

.Search {
  height: 50px;
  font-size: 20px;
  padding-left: 40px;
  width: 104px;
  transition: width 0.4s ease-in-out;
  border: none;
  outline: none;
  background-color: $grey1;

  &::placeholder {
    color: $primary;
  }

  &:focus {
    width: 316px;
    background-color: $white;

    &::placeholder {
      color: $black;
    }
  }
}

.Search:focus .Magnify {
  color: $black;
}
