@import '../../styles/variables';

.Container {
  width: 323px;
  height: 441px;
  background-color: $white;
  box-shadow: 0px 3px 16px 0px #e7eaf759;
  padding-top: 13px;
}

.FlexRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FlexColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.TileAction {
  font-family: $font-family;
  cursor: pointer;
  border: 1px solid #f2f4f6;
  color: $grey2;
  width: 162px;
  height: 59px;
  text-transform: uppercase;
  background-color: $white;

  &:hover {
    background-color: $primary;
    color: $white;
    font-weight: 600;
  }
}

.Icon {
  cursor: pointer;
  color: $grey2;

  &:hover {
    color: $primary;
  }
}

.IconFavourite {
  @extend .Icon;

  color: $primary;
}

.SettingsButton {
  width: 40px;
  height: 32px;
  border-radius: 4px;
  background-color: $white;
  border: none;
  cursor: pointer;
  margin-left: 10px;

  &:hover {
    background-color: $grey1;
  }
}

.ButtonHighligt {
  border: none;
  width: 102px;
  height: 43px;
  color: $grey3;
  background-color: $white;
  cursor: pointer;

  &:hover {
    color: $primary;
    border-bottom: 2px solid $primary;
  }
}

.AvgContainer {
  margin-right: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Avg {
  font-size: 30px;
  font-weight: 600;
  font-family: $font-family;
  margin: 0;
}

.Count {
  font-weight: 400;
  font-size: 12px;
  font-family: $font-family;
  color: $grey2;
  margin: 0;
}

.StarsContainer {
  display: flex;
  margin-left: 22px;
}

.Star {
  cursor: pointer;
  color: $grey3;
}

.StarSelected {
  cursor: pointer;
  color: #00e3ee;
}

.BluePlaceholder {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #deeaff;
  color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
  font-weight: 600;
  font-size: 24px;
}

.YellowPlaceholder {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #fff5de;
  color: #ffb942;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
  font-weight: 600;
  font-size: 24px;
}

.Avatar {
  width: 100px;
  height: 100px;
}

.Name {
  font-weight: 600;
  font-size: 19px;
  font-family: $font-family;
  margin-bottom: 11px;
  margin-top: 24px;
}

.Job {
  font-weight: 400;
  font-size: 14px;
  font-family: $font-family;
  color: $grey2;
  margin-top: 0;
  margin-bottom: 40px;
}
